/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 100;
    src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: text-bottom;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons.material-icons-1x {
    font-size: 18px;
    margin-top: .50rem;
}
.material-icons.material-icons-2x {
    font-size: 36px;
    margin-top: .50rem;
}
.material-icons.material-icons-3x {
    font-size: 48px;
    margin-top: .50rem;
}
.material-icons.material-icons-4x {
    font-size: 56px;
    margin-top: .50rem;
}
.material-icons.material-icons-5x {
    font-size: 68px;
    margin-top: .50rem;
}
.material-icons.material-icons-6x {
    font-size: 72px;
    margin-top: .50rem;
}
.icon-preview i.material-icons {
    font-size: 48px;
    font-weight: 100;
}

.h1-responsive {

}
